/* Penser à faire des captures d'écran des pages pour les
intégrer au READ ME */

/* Les liens internes et externes seront différenciés
Utiliser la pseudo classe focus pour les utilisateurs qui naviguent au clavier
-> tab : l'élément passe en surbrillance par exemple */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  font-family: 'Libre Baskerville', serif !important;
  box-shadow: 0 0 2px red;
}


body {
  /* height: 100%; */
  min-height: 100vh;
  /* position: relative; */
}

/* ATTENTION LA POLICE NE S4APPLIQUE PAS!!! */

/* @font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"),
    url("/ASSETS/font/LibreBaskerville-Regular.ttf") format("ttf");
} */

/* @font-face {
  font-family: "Libre Baskerville";
  src: url("public\ASSETS\font\LibreBaskerville-Regular.ttf") format("truetype");
} */

/* ////////////// VARIABLES POUR LES COULEURS /////////////// */

/* Les couleurs */

html {
  --bordeau: #970646;
  --bordeauFonce: #a1115971;
  --grisClair: #535d65;
  --gris: #bdc4ca;
  --grisFonce: #242629;
  --fondClair: #e2e2e2;
  --black: #000;
}


/* ////////////// LE HEADER INCLU DANS TOUTES LES PAGES /////////////// */

/* penser à ajouter une 'box-shadow' au bottom de la .nav et voir pour le bg 
vérifier s'il n'est pas plus judicieux de nommer des classes perso au cas où il y aurait pls nav hors le header*/
#menu {
  height: 15vh;
  background-color: rgba(226, 226, 226, 0.4);
  box-shadow: 0px 5px 10px #42031f;
  /* opacity: 0.5; */
  /* box-shadow: 0 10px 10px black; */
}


.nav-link {
  font-size: 25px;
  color: var(--grisClair);
  /* transition: color 1s; */
  text-decoration: none;
}

.nav-link:hover {
  color: var(--bordeau) !important;
}

.nav-link-custom:hover {
  transform: scale(1.1);
  transition: 0.6s;
  /* color: var(--fondClair); */
  color: var(--bordeau) !important;

}

.nav-link:active {
  color: var(--bordeau) !important;
  /* text-decoration: none; */
}

.logo img {
  box-shadow: 1px 5px 5px 3px #42031f;
}

.btn-command {
  height: 30px;
  color: var(--bordeau) !important;
  border-color: var(--bordeau);
  box-shadow: 1px 5px 5px 3px #42031f;
  transition: 0.2s;
}

.btn-command:hover,
.btn-command:focus,
.btn-command:active {
  color: white;
  background-color: var(--gris);
}

.bi-list {
  font-size: 1.5rem;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}


/* /////////// SECTION RECHERCHE AVEC VIDEO EN FOND  ///////////////// */

/* supprimer l'espacement horizontal */
/* .video-container:root {
  --bs-gutter-x: 0;
} */
/* .banner {
  position: relative;
} */
.video-container {
  top: 20vh;
  position: absolute;
  /* position: relative; */
  height: 10vh;
  /* object-fit: cover; */
}

.video {
  position: absolute;
  opacity: 0.9;
  /* z-index: 1; */
  background-color: var(--grisFonce);
  cursor: pointer;
  /* object-fit: cover; */
}

/* video ::before {
  content: "";
} */


/* background-color: rgba(0, 0, 0, 0.5); */

/* video { */
/* min-width: 100%; */
/* height: 20vh; */
/* position: relative; */
/* object-fit: cover; */
/* opacity: 0.9; */
/* z-index: 1; */
/* background-color: var(--grisFonce); */
/* cursor: pointer; */
/* } */

/* video ::before {
  content: "";
} */

/* .video::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #970646;
  background: linear-gradient(#970646, #4d0918);
  z-index: 3;
} */


/* créer un évennement pause et play au clik
si l'utilisateur ne veut plus que la vidéo joue */

/* .controls {
    display: none;
} */

/********* Titre & Barre de recherche **********/
#titre-accueil {
  padding-top: 2%;
  /* position: absolute; */
  z-index: 2;
}

#search-bar {
  /* position: absolute; */
  z-index: 2;
}


/* .overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
} */

/* #pause {
  position: absolute;
  padding: 20% 5% 0 0;
  z-index: 2;
} */

/* ////////// PAGE ACCEUIL GRILLE  //////////// */
section

/* #images*/
  {
  position: relative;
  /* position: absolute; */
  /* top: 20vh; */
}

/* .images-container{
  position: absolute;
} */
.images-container img {
  /* width: 100px; */
  height: 200px;
  transition: transform 2s;
  border: var(--grisFonce) solid 1px;
  border-radius: 10%;
  box-shadow: 10px 10px 10px var(--grisClair);
  object-fit: cover;
  /* box-shadow: 0 10px 10px black; */
}

/* revoir les animations pour un effet plus doux sur la disparition de la bordure */
#images img:hover {
  transform: scale(1.1);
  translate: 1s;
  border: none;
  transition: 2s ease-in-out;
  /* border-radius: 50%; */
}


/* ////////// ANIMATION  //////////// */

/* ******** page accueil  ************* */

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(38%);
  }
}

#titre-accueil {
  animation: move 2s ease-out both;
}

#search-bar {
  animation: move 2s ease-out .7s both;
}

/* ******** page catégory  ************* */

/* carousel.html */
/* body {
  background-color: #242629;
} */

.wrapper {
  width: 100%;
  min-height: 60vh;
  background-color: #242629;
}

.carousel {
  white-space: nowrap;
  /* background-color: #242629; */
}

/* .carousel img {
  object-fit: cover;
  width: calc(100% / 3);
} */

/* .zoomed-item {
  transform: scale(1.1);
}

.carousel-item img {
  transition: transform 0.3s ease-in-out;
} */

.boutton span {
  border-radius: 50%;
}

/* ******** page commande  ************* */

/* :animation sur le btn 'submit' */
@keyframes joke1 {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-150px);
  }
}

/* @keyframes joke1 {
  from {
    transform: translate(-150px, 70%);

  }

  to {
    transform: translateY(0);
  }

  to {
    transform: translateY(-150px);
  }

} */


/* .btn-joke {
  animation: joke 1s ease-in-out 1s 3; */
/* nom/durée/fonction-d'accélération/top-départ/ nb-répet-anim/ itération(normale ou inverse)/ animation-fill-mode (avec delay)? je test pour voir */
/* } */

.btn-joke:hover {
  animation: joke1 0.5s linear 0.5s 3 slidein;
  transform: translate(-150px, 70%);
  /* transform: rotate(45deg); */
}

/* ////////// PAGE PLATS  //////////// */
@keyframes move-titre {
  from {
    margin-left: 0;
    font-style: italic;
    font-size: x-small;
  }

  25% {
    font-size: 0.5rem;
  }

  50% {
    font-size: 1rem;
  }

  75% {
    font-size: 1.5rem;
  }

  to {
    margin-left: 70%;
    font-style: normal;
    font-size: 2rem;
  }
}

#titre-plats {
  animation: move-titre 1s ease-in-out both;

}

.card-header {
  position: relative;
}

.card-header .btn {
  position: absolute;
}


/* ////////////// LE FOOTER /////////////// */

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer ul {
  margin-bottom: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  color: #212529;
  font-size: 24px;
}

.footer ul li a:hover {
  color: #007bff;
}

/* .link-external i:hover{
afficher le nom en texte du lien
} */