/*********** PAGE PLATS ********** */
@font-face {
  font-family: "Libre Baskerville";
  src: url(./ASSETS/font/LibreBaskerville-Regular.ttf) format(ttf);
}


html {
  font-family: "Libre Baskerville";
  /* couleurs logo */
  --bordeau: #970646;
  --saumon: #fef4e8;
  /* couleur image de fond restaurant */
  --grisClair: #535d65;
  --grisFonce: #242629;
  --fondClair: #e2e2e2;
  --beige: #c3ae95;
  /* couleurs food */
  --grisFonce: #261d31;
  --black: #000;
}


#cards {
  border-top: var(--bordeau) solid 2px;
}

#row1-burger {
  background-image: url();
}

.card-body {
  background: var(--fondClair);
}

.modal-title {
  color: white;
  font-weight: bold;
  background-color: var(--black);
  opacity: 0.5;
}

.modal-content {
  background-image: url("/ASSETS/IMG/fond/bg3.jpeg");
  background-size: cover;
  background-position: center;
}

/* .modal-body {
  background-image: url("../ASSETS/IMG/fond/bg3.jpeg");
  background-size: cover;
  background-position: center;
} */

.modal-header {
  /* height: 10px; */
  font-family: "Libre Baskerville";
  /* color: var(--bordeau); */
}