* {
  font-family: "Libre Baskerville";
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(ASSETS/font/LibreBaskerville-Regular.ttf) format(ttf);
}

button {
  bottom: 80px;
}

.carousel-item {
  display: flex !important;
}

/* chaque catégorie "image" redirige l'utilisateur au click vers ses plats  */
