* {
  font-family: "Libre Baskerville";
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(ASSETS/font/LibreBaskerville-Regular.ttf) format(ttf);
}

/* h1 {
  padding-right: 10%;
  text-align: end; */
/* color: #970646; */
/* text-decoration: underline;
} */

/* carousel d'image */

.carousel {
  width: 75%;
}
/* .carousel-item h5 {
  color: black;
} */
button {
  bottom: 80px;
}

.carousel-item {
  display: flex !important;
}

/* chaque catégorie "image" redirige l'utilisateur au click vers ses plats  */
