/*********** PAGE PLATS ********** */

html {
  /* couleurs logo */
  --bordeau: #970646;
  --saumon: #fef4e8;
  /* couleur image de fond restaurant */
  --grisClair: #535d65;
  --grisFonce: #242629;
  --fondClair: #e2e2e2;
  --beige: #c3ae95;
  /* couleurs food */
  --grisFonce: #261d31;
  --black: #000;
}

.container{
  border-top: var(--bordeau) solid 2px;
}

.row{
  background-image: url() ;
}

.card-body{
  background: var(--fondClair);
}