/* Les liens internes et externes seront différenciés
Utiliser la pseudo classe focus pour les utilisateurs qui naviguent au clavier
-> tab : l'élément passe en surbrillance par exemple */
* {
    margin: o;
    padding: 0;

}

body {
    width: 100%;
    /* margin: o;
    padding: 0; */
    list-style: none;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url(./ASSETS/font/LibreBaskerville-Regular.ttf) format(ttf);
}


/* body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-position: 0, 90px;
} */

/* a {
    text-decoration: none;
    color: inherit;
} */


/******************* LE MENU *******************************/

header {
    width: 100%;
    position: fixed;
    /* display: flex; */
    height: 13%;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    /* justify-content: space-between; */
    border-bottom: #535d65 solid;
    /* will-change: scroll-position ; */


}

nav {
    /* height: 6rem;
    line-height: 6rem; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.logo {
    /* padding-left: 3rem; */
    width: 15%;
    /* height: 100%; */
}

.logo img {
    width: 4rem;
    /* height: 5rem; */
}

.menu {
    height: 6rem;
    line-height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu a {
    padding: 5rem;
    font-size: 20px;
    color: #535d65;
    transition: color 1s;
    text-decoration: none;
}


.menu a:hover {
    font-size: 25px;
    color: #242629;

}

.menu a:active {
    color: #970646;
    text-decoration: none;
}

menu a:visited {
    text-decoration: none;
}



/* ******************** CREATION DES ICONES POUR LE MOBIL FIRST ********************************* */

.icone {
    width: 4.2rem;
    height: 2.4rem;
    position: relative;
    /* la position sera par rapport à l'élément parent span qui sera en position absolue */
    cursor: pointer;
    display: none;
}

/* *********icone open *********** */

/* je crée le prier trait de l'icône qui sera central */
.icone .open {
    /* attentien les balises span sont de type inline, donc ne comprenne pas les valeurs hauteur et largeur
    j'utilise un display */
    /* je donne à la span la taille de 100% c'est à dire 5rem comme la class icone */
    width: 100%;
    height: 0.4rem;
    display: block;
    position: absolute;
    content: "";
    background-color: black;
    /* maintenant je vais placer l'élément et le centrer*/
    top: 50%;
    /* avec la position absolue le top de 50% ne suffira pas à centrer mon élément
    je vais donc utiliser un transform pour le déplacer de sa moitié vers le haut => (valeur négative)*/
    transform: translateY(-50%);

}

/* je crée les deux autres traits de l'icône, un avant et un après */
.icone .open::before,
.icone .open::after {
    content: "";
    position: absolute;
    width: 100%;
    /* height: 0.6rem; */
    height: 0.4rem;
    background-color: black;

}

/* maintenant je les positionne */
.icone .open::before {
    transform: translateY(-1rem);
}

.icone .open::after {
    transform: translateY(1rem);
}

/* *********icone close *********** */

.icone .close {
    width: 100%;
    height: 0.4rem;
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    transform: translateY(10px);
}

.icone .close:before {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.icone .close:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    transform: rotate(45deg);
    transform: rotate(45deg);

}


/********* IMAGE DE FOND ENTETE **********/
section {
    /* margin: 0;
    padding: 0; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    background-image: url('../ASSETS/IMG/fond/fosyyyy.jpg');
    /* aninition de l'image de fond , apparition de la gauche */
    animation: slideRight 3s;
}

/* animation sur l'image de fond */

/* @keyframes slideRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
} */


#recherche {
    height: 15%;
    border-color: #242629;
    /* border-radius: 10%; */
    cursor: pointer;

}

/* video {
	display: none;
} */

.change image {
    display: none;
}

/* .change video {
	display: flex;
} */

/********* VIDEO **********/

iframe {
    width: 20%;

}

h1 {
    padding-right: 10%;
    text-align: end;

}

/********** LES CATEGORIES *************/
.grille {
    max-width: 1300px;
    width: 80%;
    /* la grille va prendre la valeur de tous les éléments */
    height: auto;
    /* je centre la grille */
    margin: auto;
    display: grid;
    /* je crée le nombre de colonnes en fonction de la largeur de mon élélément */
    grid-template-columns: repeat(auto-fill, 320px);
    /* grid-template-columns: repeat(3, 1fr); */
    justify-content: center;
    gap: 30px;
}

.grille img {
    width: 100%;
    height: 80%;
    /* justify-self: center;
    justify-content: center;
    transition: all; */
}

.grille img:hover {
    width: 70px;
    /* height: 50px; */
}

#i1 {
    grid-row: 1;
}

/* #i2{
    grid-row: 2;
} */
/* ****** FOOTER ******** */

/* .link-external a :hover{
afficher le nom en texte du lien
} */


/* ****** MENU RESPONSIVE ******** */

@media screen and (max-width: 576px) {
    /* header {
        background: transparent;
    } */

    .icone {
        display: block;
        right: 20px;
        top: 20px;
        position: relative;
        z-index: 30;
        cursor: pointer;
    }

    /* l'icone open sera visible */
    .open {
        display: flex;
    }

    /* l'icone close sera caché */
    .close {
        display: none;
    }

    /* j'appelle ma fonction et je lui dis de cacher l'icone open 
    si elle est vrai */
    .actif .open {
        display: none;
    }

    .actif .close {
        display: flex;
    }

    /* .nav {
        display: flex;
    } */

    .menu {
        width: 100%;
        height: 100vh;
        /* display: flex; */
        position: absolute;
        flex-direction: column;
        justify-content: space-around;
        top: 0;
        padding: 2rem;
        background-color: rgb(34, 33, 33);
        transform: translateY(-100%);
        transition: transform 1s;
    }


    .actif .menu {
        transform: translateY(0);
        /* display: none; */

    }

    .menu a {
        font-size: 2rem;
    }

}