/* Penser à faire des captures d'écran des pages pour les
intégrer au READ ME */

/* Les liens internes et externes seront différenciés
Utiliser la pseudo classe focus pour les utilisateurs qui naviguent au clavier
-> tab : l'élément passe en surbrillance par exemple */
* {
  font-family: "Libre Baskerville";
}


body {
  height: 100%;
  min-height: 100vh;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url(./ASSETS/font/LibreBaskerville-Regular.ttf) format(ttf);
}

/* ////////////// VARIABLES POUR LES COULEURS /////////////// */

/* Les couleurs */

html {
  font-family: "Libre Baskerville";
  /* couleurs logo */
  --bordeau: #970646;
  --saumon: #fef4e8;
  /* couleur image de fond restaurant */
  --grisClair: #535d65;
  --grisFonce: #242629;
  --fondClair: #e2e2e2;
  --beige: #c3ae95;
  /* couleurs food */
  --grisFonce: #261d31;
  --black: #000;
}



/* ////////////// LE HEADER INCLU DANS TOUTES LES PAGES /////////////// */

.nav-link {
  font-size: 30px;
  color: var(--grisClair);
  transition: color 1s;
  text-decoration: none;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: 1s;
  /* color: var(--grisFonce); */
  color: var(--bordeau) !important;

}

#link-active {
  color: var(--bordeau) !important;
  /* text-decoration: none; */
}


menu a:visited {
  text-decoration: none;
}


/* /////////// SECTION RECHERCHE AVEC VIDEO EN FOND  ///////////////// */

video {
  /* width: 100%; */
  height: 25vh;
  position: relative;
  object-fit: cover;
  opacity: 0.9;
  z-index: 1;
  background-color: var(--grisFonce);
  cursor: pointer;
}

video ::before {
  content: "";
}

/* créer un évennement pause et play au clik
si l'utilisateur ne veut plus que la vidéo joue */

/* .controls {
    display: none;
} */

/********* Titre & Barre de recherche **********/
#titre-accueil {
  position: absolute;
  padding-top: 2%;
  /* color: white; */
  z-index: 2;
}

#search-bar {
  position: absolute;
  z-index: 2;
}

/* ////////// PAGE ACCEUIL GRILLE  //////////// */

.container-images {
  height: 300px;
  transition: transform 2s;
  border: var(--grisFonce) solid 1px;
  border-radius: 10%;
}

/* revoir les animations pour un effet plus doux sur la disparition de la bordure */
.container-images:hover {
  transform: scale(1.1);
  translate: 1s;
  border: none;
  transition: 2s;
  /* border-radius: 50%; */
}


/* ////////// PAGE PLATS  //////////// */

#cards {
  border-top: var(--bordeau) solid 2px;
}

#row1-burger {
  background-image: url();
}

.card-body {
  background: var(--fondClair);
}

.modal-title {
  color: white;
  font-weight: bold;
  background-color: var(--black);
  opacity: 0.5;
}

.modal-content {
  background-image: url("../ASSETS/IMG/fond/bg3.jpeg");
  background-size: cover;
  background-position: center;
}

/* .modal-body {
  background-image: url("../ASSETS/IMG/fond/bg3.jpeg");
  background-size: cover;
  background-position: center;
} */

.modal-header {
  /* height: 10px; */
  font-family: "Libre Baskerville";
  /* color: var(--bordeau); */
}

/* ////////////// LE FOOTER /////////////// */

.footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer ul {
  margin-bottom: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer ul li a {
  color: #212529;
  font-size: 24px;
}

.footer ul li a:hover {
  color: #007bff;
}


/* footer {
  height: 10vh;
  border-top: #535d65 solid;
}

footer .nav-link{
  width: 50px;
} */
/* .nav-item a{
  z-index: 2;
} */
/* .link-external i:hover{
afficher le nom en texte du lien
} */